{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>signup for Tale Tower</title>
  <meta name="signup" content="Sign up page for Tale Tower" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    {% endif %}
    <style>
        .alert {
            padding: 20px;
            margin-bottom: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        }
        .alert-unsuccess, .alert-error {
            color: #a94442;
            background-color: #f2dede;
            border-color: #fb062f;
        }
    </style>
  <div class="flex">
        <form id="signup" class="container" method="POST" action="{% url 'sign_up' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><p class="sign">Sign up</p></td>
                </tr>
                <tr>
                    <td>{% render_field form.username placeholder="Username" %}</td>
                </tr>
                <tr>
                    <td>{% render_field form.email placeholder="Email" %}</td>
                </tr>
                <tr>
                    <td>{% render_field form.password1 placeholder="Password" %}</td>
                </tr>
                <tr>
                    <td>{% render_field form.password2 placeholder="Confirm Password" %}</td>
                </tr>
                <tr>
                    <td><div class="box">{% render_field form.isAdmin placeholder="Admin" %} Admin</div></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Sign Up"></td>
                </tr>
                <tr>
                    <td><h5>already have account? <a href="{% url 'sign_in' %}"><p class="bottom">Sign In</p></a></h5></td>
                </tr>
            </table>
            <br>
        </form>
  </div>


  <script>
    const formErrors = JSON.parse('{{ form_errors|safe }}');
    let errorMessages = '';
        for (let field in formErrors) {
            formErrors[field].forEach(error => {
                errorMessages += error.message + '\n';
            });
        }
        if (errorMessages) {
            alert('Form Errors:\n' + errorMessages);
        }

        const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                setTimeout(function () {
                    alert.style.display = 'none';
                }, 2000);
            });
  </script>
</body>
</html>


