{% extends "admin.html" %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_details_page.css' %}">
    <title>Add Book</title>

</head>
<body>
    {% block content %}
    {% if messages %}
        <div class="message">
            {% for message in messages %}
                {% if 'book_added' in message.tags %}
                    {{message}}
                {% endif %}
            {% endfor %}
        </div>
    {% endif%}

    <form id="addBookForm" method="POST" action="{% url 'add_book' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_field form.name placeholder="Title" %}
        {% render_field form.author placeholder="Author" %}
        {% render_field form.category placeholder="Category" %}
        {% render_field form.cover_page placeholder="Book Cover" %}
        {% render_field form.description placeholder="Description" %}
        <input type="submit" value="Add Book">
    </form>
    <!-- <script type="module" src="js/localStorage.js"></script>
    <script type="module" src="js/addBook.js"></script> -->
    {% endblock %}
</body>
</html>