{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_details_page.css' %}">
    <title>Add Book</title>

</head>
<body>
    <div class="top_nav_admin">
        <!-- <a href="admin.html" class="left logo"><div><img src="img/logo_nobg.png" height="60px"></div></a> -->
        <a href="{% url 'admin_page' %}" class="left logo"></a>
        <a href="{% url 'admin_page' %}" class="left"><div>Available Books</div></a>
        <a href="{% url 'add_book' %}" class="left active"><div>Add a Book</div></a>
        <a href="#name" class="right name">N</a>
        <a href="{% url 'main' %}" class="right signout">Sign Out</a>
    </div>
    {% if messages %}
        <div class="message">
            {% for message in messages %}
                {% if 'book_added' in message.tags %}
                    {{message}}
                {% endif %}
            {% endfor %}
        </div>
    {% endif%}

    <form id="addBookForm" method="POST" action="{% url 'add_book' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_field form.name placeholder="Title" %}
        {% render_field form.author placeholder="Author" %}
        {% render_field form.category placeholder="Category" %}
        {% render_field form.cover_page placeholder="Book Cover" %}
        {% render_field form.description placeholder="Description" %}
        <input type="submit" value="Add Book">
    </form>
    <!-- <script type="module" src="js/localStorage.js"></script>
    <script type="module" src="js/addBook.js"></script> -->
</body>
</html>