{% extends "availableBooks.html" %}
{% load static %}
{% block content %}  
<html>
<head>
    <meta charset="utf-8">
    <title>Book Details</title>
    <!-- <script type="module" src="js/localStorage.js"></script> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_details_page.css' %}">
    <style>
    </style>
</head>

<body style="display: flex; flex-direction: column;"> 
    
    
    <p><h1 id="book_name"> {{book.name}} </h1></p>
    <br>
    <div class = "books-container1">
    <img id="book_img"high="200px" width="200px" src="{{book.cover_page.url}}">
    <dl>
        <dt><h2>Author : <span id="Author">{{book.author}} </span></h2></dt>
        <dt><h2>Category : <span id="category"> {{book.category}} </span></h2></dt>
        <hr>
        <dt><h2>Description :</h2></dt>
        <dd id="Description"> {{book.description}} </dd>
    </dl>
    </div>
 
        <!-- <script src="js/book_details.js"></script> -->
        {% endblock %}
</body>

</html>
   
