{% extends "availableBooks.html" %}
{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Second Main Page</title>
    <script src="script.js"></script>
    <meta name="secmainpage" content="Second mainpage for page for Tale Tower" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="second-mainpage">
    {% block content %}
    <div class="books-container">
        <div class="books">
            <h1 class="fst-tle">Bestsellers</h1>
            <div class="bestseller">
                <div>
                    <!-- <h3>Ancient Egypt: An Illustrated History</h3> -->
                    <a href="main_details.html?book=Ancient_Egypt"><img src="img/Ancient_Egypt.jpeg"
                            alt="View Details of Ancient Egypt: An Illustrated History"></a>
                    
                </div>
                <div>
                    <!-- <h3>Empress of the Nile</h3> -->
                    <a href="main_details.html?book=Empress of the Nile" ><img src="img/Empress of the Nile.jpeg"
                            alt="View Details of Empress of the Nile"></a>
                     
                </div>
                <div>
                    <!-- <h3>Foundation</h3> -->
                    <a href="main_details.html?book=Foundation"><img src="img/Foundation.jpg" alt="View Details of Foundation"></a>
                    
                </div>
                <div>
                    <!-- <h3>The Lightning Thief</h3> -->
                    <a href="main_details.html?book=The Lightning Thief"><img src="img/The Lightning Thief.jpeg"
                            alt="View Details of The Lightning Thief"></a>
                    
                </div>
                <div>
                    <!-- <h3>The Three Body Problem</h3> -->
                    <a href="main_details.html?book=The Three-Body Problem" ><img src="img/the_Three_Body_problem.jpeg"
                            alt="View Details of The Three Body Problem"></a>
                     
                </div>
            </div>
            
            <h1 class="sec-tle"> Our Recommendations</h1>
            <div class="recommendations">
                <div>
                    <!-- <h3>Deliverance</h3> -->
                    <a href="main_details.html?book=Deliverance" ><img src="img/Deliverance.jpeg"
                            alt="View Details of Deliverance" ></a>
                     
                </div>            
                <div>
                    <!-- <h3>Hyperian</h3> -->
                    <a href="main_details.html?book=Hyperion"  ><img src="img/Hyperian.jpg" alt="View Details of Hyperian"></a>
                    
                </div>
                <div>
                    <!-- <h3>The Buried Giant</h3> -->
                    <a href="main_details.html?book=The Buried Giant" ><img src="img/The Buried Giant.jpeg"
                            alt="View Details of The Buried Giant">
                    
                </div>
                <div>
                    <!-- <h3>The Changeling</h3> -->
                    <a href="main_details.html?book=The Changeling"><img src="img/The Changeling.jpeg"
                            alt="View Details of The Changeling"></a>
                   
                </div>
                <div>
                    <!-- <h3>The Fifth Season</h3> -->
                    <a href="main_details.html?book=The Fifth Season"><img src="img/The Fifth Season.jpeg"
                            alt="View Details of The Fifth Season"></a>
                   
                </div>
                <div>
                    <!-- <h3>The Memoirs of Cleopatra</h3> -->
                    <a href="main_details.html?book=The Memoirs of cleopatra"><img src="img/The_Memoirs_of_cleopatra.jpeg"
                            alt="View Details of The Memoirs of Cleopatra"></a>
                    
                </div>
                <div>
                    <!-- <h3>Treasure Island</h3> -->
                    <a href="main_details.html?book=Treasure Island" ><img src="img/Treasure Island.jpeg"
                            alt="View Details of Treasure Island"></a>
                   
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    
    <script>
        loadButtonText();
        saveButtonText() ;
        changeButton();
    </script>
</body>

</html>