{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>signin for Tale Tower</title>
    <meta name="signin" content="Sign in page for Tale Tower" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">

</head>

<body>
    <!-- sign in -->
    <table width="100%" height="100%">
        <tr>
            <td align="center" valign="middle">
                <br><br><br><br>
                <h1><span style="font-size: 36px;">Welcome to Tale Tower Library</span></h1>
                <form id="signin" class="container">
                    <p class="sign">Sign in</p><br>
                    <div>
                        <input type="text" required minlength="4" placeholder="Username" id="inusername"><br><br>
                    </div>

                    <div>
                        <input type="password" required minlength="4" placeholder="password" id="inpassword">
                    </div><br>
   
                    <input type="submit" value="Sign in">
                    <br>
                    <h5>Don't have account??<a href="signup_page.html">create new one</a></h5>
                   
                </form>
            </td>
        </tr>
    </table>

    <!-- <script type="module" src="js/signin.js"></script> -->
</body>

</html>