<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{% block title %}Library{% endblock %}</title> -->
    <title>Borrowed Books</title>
</head>

<body>
    <div class="header-container">
        <a href="second_main.html"><img src="logo.jpg" height="150px" width="250px" alt="View Main Page"></a>
        <h1 align="center">Tale Tower Library</h1>
        <nav>
            <a href="second_main.html">Home</a>
            <a href="#accountname">David Jones</a>
            <a href="available.html">Available Books</a>
            <a href="borrowedproj.html">Borrowed Books</a>
        </nav>
        <hr>
        <nav>
            <label>Categories</label>
            <a href="scifi.html">Sci-Fi</a>
            <a href="adventure.html">Adventure</a>
            <a href="fantasy.html">Fantasy</a>
            <a href="history.html">History</a>
        </nav>

        <hr>

        <h2>Borrowed Books</h2>

        <div>
            <h3>Foundation</h3>
            <a href="Foundation_book.html" target="_blank"><img src="Foundation.jpg" alt="View Details of Foundation"
                    width="200" height="300"></a>
            <button>Borrowed</button>
        </div>
        <div>
            <h3>The Buried Giant</h3>
            <a href="The Buried Giant_book.html" target="_blank"><img src="The Buried Giant.jpeg"
                    alt="View Details of The Buried Giant" width="200" height="300"></a>
            <button>Borrowed</button>
        </div>
</body>

</html>
