body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cecfc7;
    background-image: url('book_PNG51100.png'); 
    background-size: cover;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 10px;
    background-color: #000000;
    color: #fff;
}

/* button color when click */
button:hover {
    background-color: #0a2d53;
}