body{
    margin:0px;
    padding:0px;
}

/* -----------------------top nav-------------------------- */

.top_nav{
    background-color: #D9D9d9;
    /* overflow: auto; */
    width:100%;
    /* height:70px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
.left{
    float:left;
}
.right{
    float:right;
}
.left, .right{
    font-size:15px;
    padding:25px 20px;
    /* padding-bottom: 25px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 25px; */
}
a{
    text-decoration: none;
    color:#7A7A7A;
}
.left:hover, .right:hover{
    background-color: #848080;
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-bottom-color:#848080;
    color:#d9d9d9;
    transition: 0.3s;
}
.active{
    background-color: #A4A0A0;
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-bottom-color: #CA5D3B;
}
.active div{
        color:black;
    }
.logo{
    margin:0px;
    padding:0px;
    padding-left:10px;
}
.logo img:hover{
    background-color: #848080;
    transition: 2s;
}
img{
    padding-top:3px;
}


.signout,.name{
    border-style:solid;
    border-radius: 20px;
    height:20px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color:black;
    vertical-align: middle;
}
.signout{
    width:90px;
    padding-top: 13px;
    border-color: #CA5D3B;
    background-color:#CA5D3B ;
}
.name{
    width:25px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-color: #9B9393;
    background-color:#9B9393 ;
    color:white;
    font-size:20px;
}
.name:hover{
    border-color: #848080;
    background-color:#848080 ;
    color:white;
}
.signout:hover{
    background-color: rgb(228, 1, 1);
    border-style:solid;
    border-color: rgb(228, 1, 1);
    color:black;
}

/* ------------------------------categories nav------------------------------------- */

.hidden{
    display:none;
    width: 110px;
    margin:0px;
    padding-top:10px;
    position: absolute;
    /* top: 100%; */
}
.ctitle{
    text-align: center;
    /* width: 100%; */
    padding: 25px;
}
a.category{
    width:150px;
    padding:0px;
}
.categories{
    /* margin:0px; */
    position: relative;
}
.hidden .cat{
    margin:0px;
    text-align: center;
    padding: 20px;
    width:100%;
}
.category:hover .hidden{
    display:block;
}
.category:hover body{
    background-color: black;
}
.cat{
    background-color: #848080;
}
.hidden .cat:hover{
    box-sizing: border-box;
    width:150px;
    background-color: black;
    transition: background-color 1s, width 0.3s;
}
/* ----------------search bar-------------------- */

.search{
    padding:0px;
    padding-bottom: 15px;
    margin:10px;
    box-sizing: border-box;
    width:30%;
    height:47px;
    border-radius: 20px;
    /* border-color: black; */
    background-color: #A4A0A0;
    border-style: solid;
    border-color: #A4A0A0;
    border-radius: 20px;
}
.search_bar::placeholder{
    font-weight: 100;
    color:#444242;
    text-overflow: ellipsis;

}
.search button{
    margin:3px;
    width:10%;
    border:none;
    background: transparent;
    float:left;

}
.search:hover{
    background-color:#A4A0A0;
    border-color:#A4A0A0 ;
}
input[type="search"]{
    background: transparent;
    border:none; 
    margin:0px;
    /* padding:20px; */
    padding-bottom: 7px;
    height:50px;
    width:80%;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
}
.search_bar:focus{
    outline: none;
}

/* ----------------book grid-------------------- */

.book-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    padding:50px;
    padding-left:50px;
}
.book{
    /* border-color:rgb(246, 0, 0);
    border-style:solid; */
    /* border-width:10px; */
    height:270px;
    margin:0px;
}
.book img{
    height:270px;
    padding:0px;
}