.hiddenDetails{
    display:none;
}

.book-flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:50px;
}
.book img{
    height:300px;
}
.book{
    margin:30px;
}