body{
    margin:0px;
    padding:0px;
}

/* -----------------------top nav-------------------------- */

.top_nav,.top_nav_admin{
    background-color: #0a0a0a;
    /* overflow: auto; */
    width:100%;
    /* height:70px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; 
}




.left{
    float:left;
}
.right{
    float:right;
}
.left, .right{
    font-size:15px;
    padding:25px 20px;
    /* padding-bottom: 25px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 25px; */
}
a{
    text-decoration: none;
    color:#BD804A;
}
.left:hover, .right:hover{
    /* background-color: #848080; */
    background-color: #1a1a1a;
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-bottom-color:#848080;
    color:#d9d9d9;
    transition: 0.3s;
}
.active{
    /* background-color: #A4A0A0; */
    background-color: #1a1a1a;
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-bottom-color: #BD804A;

}
.active.cat{
    background-color: #A4A0A0;
}
.active div{
        /* color:black; */
        color:#d29f70;
        /* color:white; */
    }
.logo{
    margin:0px;
    padding:0px;
    padding-left:10px;
}
.logo img:hover{
    background-color: #848080;
    transition: 2s;
}
img{
    padding-top:3px;
}


.signout,.name{
    border-style:solid;
    border-radius: 20px;
    height:20px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color:black;
    vertical-align: middle;
}
.signout{
    width:90px;
    padding-top: 13px;
    border-color: #BD804A;
    background-color:#BD804A;
}
.name{
    width:25px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-color:#BD804A;
    background-color:#060606 ;
    color:#BD804A;
    font-size:20px;
}
.name:hover{
    border-color: #848080;
    background-color:#848080 ;
    color:white;
}
.signout:hover{
    background-color: rgb(228, 1, 1);
    border-style:solid;
    border-color: rgb(228, 1, 1);
    color:black;
}

/* ------------------------------categories nav------------------------------------- */

.hidden{
    display:none;
    width: 110px;
    margin:0px;
    padding-top:10px;
    position: absolute;
    /* top: 100%; */
}
.ctitle{
    text-align: center;
    /* width: 100%; */
    padding: 25px;
}
a.category{
    width:150px;
    padding:0px;
}
.categories{
    /* margin:0px; */
    position: relative;
}
.hidden .cat{
    margin:0px;
    text-align: center;
    padding: 20px;
    width:100%;
}
.category:hover .hidden{
    display:block;
    color:#BD804A;
}
.category:hover body{
    background-color: black;
}
.cat{
    background-color: #0a0a0a;
}
.hidden .cat:hover{
    box-sizing: border-box;
    width:150px;
    background-color: #848080;
    transition: background-color 0.2s, width 0.3s;
}
/* ----------------search bar-------------------- */

.search{
    padding:0px;
    padding-bottom: 15px;
    margin:10px;
    box-sizing: border-box;
    width:30%;
    height:47px;
    border-radius: 20px;
    /* border-color: black; */
    background-color:#0e0d0d;
    border-style: solid;
    border-color:#BD804A;
    border-radius: 20px;
}
.search_bar::placeholder{
    font-weight: 100;
    color:#444242;
    text-overflow: ellipsis;

}
.search button{
    margin:3px;
    width:10%;
    border:none;
    background: transparent;
    float:left;

}
.search:hover{
    background-color:#A4A0A0;
    border-color:#A4A0A0 ;
}
input[type="search"]{
    background: transparent;
    border:none; 
    margin:0px;
    /* padding:20px; */
    padding-bottom: 7px;
    height:50px;
    width:80%;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
}
.search_bar:focus{
    outline: none;
}

/* ----------------book grid-------------------- */

.book-flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:50px;
}
.book img{
    height:300px;
}
.book{
    margin:30px;
}

.hiddenDetails{
    display: none;
}

.borrowBook,.returnBook,.deleteBook{
    display: block;
    width:100%;
    height:10%;
    border-style: none;
    background-color: white;
    border:#BD804A solid;

}
.borrowBook:hover,.returnBook:hover,.deleteBook:hover{
    background-color: #BD804A;
    transition: background-color 0.2s, width 0.5s;
}

/* ---------------------ADMIN PAGE---------------------------- */
/* .top_nav_admin{
    border-style: double;
    border-color: #060606;

} */

/* .top_nav_admin .left{
    float:left;
    /* justify-content:flex-start; */
/* } */
.top_nav_admin .right{
    float:right;
    /* justify-content:flex-start; */
}
.top_nav_admin a{
    margin:0px 20px;
} */


/* -----------------------------------ADMIN DETAILS PAGE------------------------------------ */

/* -----------------------------------SECOND MAIN PAGE----------------------------------- */

.second-mainpage{
    margin: 0;
    /* background-color: bisque; */
    background: linear-gradient(to right top, #BD804A, bisque);
}

.second-mainpage-header h1{
    text-align: center;
    /* border: 2px solid red; */
    padding: 10%;
    /* background-image: url("/book.jpg"); */
    background-size: cover;
    margin-top: 0;
    color: #0e0d0d;
}

.books-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.books{
    background: white;
    min-height: 80vh;
    width: 65%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem;
    
} 

.books img {
    width: 100%;
}

.books .bestseller{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    padding: 0 2rem;
}

.books .recommendations {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.books .bestseller div,
.books .recommendations div  {
    width: 100%;
    margin: 2px 10px;
}


.books h1{
    text-align: center;
    color: black;
}

.bestseller img{
    width:50px;
    height:170px;
}
.recommendations img{
    width:150px;
    height:150px;
}

.sec-main.borrowbtn{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: hsl(28, 44%, 51%);
    cursor: pointer;
    display: none;
    color: br;
}

.books div:hover > button{
    display: block;
}

.books div a:hover img{
    transform: scale(.9);
}

.second-mainpage{
    margin: 0;
    /* background-color: bisque; */
    background: linear-gradient(to right top, #BD804A, bisque);
}

.second-mainpage-header h1{
    text-align: center;
    /* border: 2px solid red; */
    padding: 10%;
    /* background-image: url("/book.jpg"); */
    background-size: cover;
    margin-top: 0;
    color: #0e0d0d;
}

.books-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.books{
    background: white;
    min-height: 80vh;
    width: 65%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem;
    
} 

.books img {
    width: 100%;
}

.books .bestseller{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    padding: 0 2rem;
}

.books .recommendations {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.books .bestseller div,
.books .recommendations div  {
    width: 100%;
    margin: 2px 10px;
}


.books h1{
    text-align: center;
    color: black;
}



.sec-main.borrowbtn{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: hsl(28, 44%, 51%);
    cursor: pointer;
    display: none;
    color: br;
}

.books div:hover > button{
    display: block;
}

.books div a:hover img{
    transform: scale(.9);
}
/* -----------------------------------FOOTER----------------------------------- */

.footer{
    background-image: linear-gradient(90deg, #2c2c2c , #151517);
    padding: 70px 0;
}

.footer .container{
    max-width: 1170px;
    margin: auto;
}

.footer ul{
    list-style: none;
}

.footer .footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    /* background-color: #e91e63; */
    background-color:#BD804A;
    height: 2px;
    box-sizing: content-box;
    width: 50px;
}

.footer .footer-col li{
    width: fit-content;
    margin-left: -37px;
}

.footer .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer .footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer .footer-col .socials a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer .footer-col .socials a:hover {
    color: #24262b;
    background-color: #fff;   
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}



