<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{% block title %}Library{% endblock %}</title> -->
    <title>Borrowed Books</title>
</head>
<body>
    <h1>BookWorm</h1>
    <div class="nav">
        <nav>
            <a href="second_main.html">Home</a>
            <a href="#accountname">David Jones</a>
            <a href="#available">Available Books</a>
            <a href="#borrowed">Borrowed Books</a>
        </nav>
    </div>
    <div>
        <h3>Foundation</h3>
        <a href="Foundation_book.html" target="_blank"><img src="Foundation.jpg" alt="View Details of Foundation"
            width="200" height="300"></a>
    </div>
    <div>
        <h3>The Buried Giant</h3>
        <a href="The Buried Giant_book.html" target="_blank"><img src="The Buried Giant.jpeg"
            alt="View Details of The Buried Giant" width="200" height="300"></a>
    </div>
</body>
</html>
