{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Available Books</title>
    <meta name="secmainpage" content="Second mainpage for page for Tale Tower" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    
</head>
<body>
    <div class="top_nav">
        <a href="{% url 'second_main' %}" class="left logo"><div><img src="{% static 'img/logo_nobg.png' %}" height="60px"></div></a>
        <a href="{% url 'available_books' %}" class="left {% if active_tab == 'available' %}active{% endif %}"><div>Available Books</div></a>
        <a href="{% url 'borrowed_books' %}" class="left {% if active_tab == 'borrowed' %}active{% endif %}"><div>Borrowed Books</div></a>
        <a href="#cat" class="left category ">
            <div class="categories">
                <div class="ctitle">Categories</div>
                <div class="hidden">
                    <div class="cat" data-category="Sci-Fi">Sci-Fi</div>
                    <div class="cat" data-category="Fantasy">Fantasy</div>
                    <div class="cat" data-category="Horror">Horror</div>
                    <div class="cat" data-category="Romance">Romance</div>
                    <div class="cat" data-category="History">History</div>
                    <div class="cat" data-category="Adventure">Adventure</div>
                    <div class="cat" data-category="Thriller">Thriller</div>
                </div>
            </div></a>
        <div class="left search">
            <button onclick="search()" class="s-button"><img src="{% static 'img/search.png' %}" height="30px"></button>
            <input type="search" placeholder="Search by title, author, or category ..." name="q" class="search_bar" id="searchInput">
        </div>
        <a href="#name" class="right name">{{letter}}</a>
        <a href="{% url 'logout' %}" class="right signout">Sign Out</a>
    </div>
    <script src="{% static 'js/filter.js' %}"></script>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <div class="book-flex" id="available-books">
        {%for book in books%}
        <!-- must use .url -->
        <div class="book" data-book-category="{{ book.category }}" data-title="{{book.name}}" data-author="{{book.author}}"><a href="{% url 'book_details' book.book_id %}">
            <!-- <p>{{ book.name }}</p> -->
            <div class="cover {% if not book.is_available %}unavailable_cover{% endif %}"><img src="{{book.cover_page.url}}"></div></a>
            {% if book.is_available %}
            <button class="borrow" value="{{ book.book_id }}">Borrow</button>
            {% endif %}
            {% if not book.is_available %}
            <button class="unavailable">Unavailable</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/borrow.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="socials">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
